 <div class="social-buttons">
    <div>
      <a href="https://twitter.com/elpotcast_" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/elpotcast_/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div>
      <a href="https://www.youtube.com/ElPotcast" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="https://open.spotify.com/show/5NZNQMjVlIoeMgzSlUUJf1#_=_" target="_blank"><i
          class="fab fa-spotify"></i></a>
    </div>
  </div>