<div class="somos">
    <div>
    {{#is "en"}}
    <picture>
        <source media="(max-width: 767px)" srcset="/assets/visuals/work-somos-text-md-en.svg">
        <img loading="lazy" src="/assets/visuals/work-somos-text-en.svg" />
    </picture>
    {{else}}
    <picture>
        <source media="(max-width: 767px)" srcset="/assets/visuals/work-somos-text-md.svg">
        <img loading="lazy" src="/assets/visuals/work-somos-text.svg" />
    </picture>
    {{/is}}
    </div>
    <div class="somos-footer">
        {{contact_call}}
    </div>
</div>