.site-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    padding-bottom: 4rem;
    min-height: 120px;
    background-color: var(--white-color);
    width: 100%;
    text-align: center;
    padding: 0 45px;
}

a {
    font-weight: 600;
}

.footer-start {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.footer-middle {
    margin-bottom: 4rem;
}

.footer-end {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    padding-bottom: 6rem;
}

.separator {
    margin-left: 2rem;
    margin-right: 2rem;
    display: inline-block;
}

.footer-social {
    flex: 2;
}

.copyright {
    line-height: 14px;
    letter-spacing: .05em;
    font-family: var(--font);
    align-self: center;
}

.copyright a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.mail-contact {
    word-break: keep-all;
    font-family: var(--font);
}

.footer-social {
    margin-right: -7px;
    text-align: right;
}

.footer-social-item {
    padding: 0 5px;
    color: var(--secondary-text-color);
    font-size: 18px;
}

@media (max-width: 767px) {
    .footer-end {
        flex-direction: column;
    }
    .site-footer {
        flex-direction: column;
    }
    .footer-social {
        margin-top: 30px;
        margin-right: 0;
    }
}